snippet cons
	public `Filename()`(${1}){ 

		${2}
	}
snippet fc
	public ${1:void} ${2:nom}(${3}){

		${4}
	}
snippet cmtp
	/**
	* @author : `g:snips_author`
	* ${1}
	*/
snippet cmt
	/**
	* ${1}
	*/
snippet @a
	@author : `g:snips_author` 
snippet @p
	@param  
snippet @r
	@return 
snippet @s
	@see 
snippet sop
	System.out.print(${1});
snippet sopn
	System.out.println(${1});
