[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "bundle/mw-utils"]
	path = bundle/mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = git://github.com/tomtom/tlib_vim.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "bundle/snippets"]
	path = bundle/snippets
	url = git://github.com/honza/snipmate-snippets.git
[submodule "bundle/NrrwRgn"]
	path = bundle/NrrwRgn
	url = git://github.com/chrisbra/NrrwRgn.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/gist"]
	path = bundle/gist
	url = git://github.com/mattn/gist-vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/webapi"]
	path = bundle/webapi
	url = git://github.com/mattn/webapi-vim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "bundle/makeshift"]
	path = bundle/makeshift
	url = git://github.com/johnsyweb/vim-makeshift.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/clam"]
	path = bundle/clam
	url = https://github.com/sjl/clam.vim.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/buffergator"]
	path = bundle/buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/eunuch"]
	path = bundle/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "bundle/vimux"]
	path = bundle/vimux
	url = https://github.com/benmills/vimux.git
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim
[submodule "bundle/autoformat"]
	path = bundle/autoformat
	url = https://github.com/Chiel92/vim-autoformat
[submodule "bundle/seek"]
	path = bundle/seek
	url = https://github.com/goldfeld/vim-seek.git
[submodule "bundle/less"]
	path = bundle/less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/zen"]
	path = bundle/zen
	url = https://github.com/mattn/zencoding-vim.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/sexyScroller"]
	path = bundle/sexyScroller
	url = https://github.com/joeytwiddle/sexy_scroller.vim.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/characterize"]
	path = bundle/characterize
	url = https://github.com/tpope/vim-characterize.git
[submodule "bundle/neocomplete"]
	path = bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "bundle/panglossJS"]
	path = bundle/panglossJS
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/jeleraJS"]
	path = bundle/jeleraJS
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "bundle/tern"]
	path = bundle/tern
	url = https://github.com/marijnh/tern_for_vim.git
[submodule "bundle/tbone"]
	path = bundle/tbone
	url = https://github.com/tpope/vim-tbone.git
[submodule "bundle/niji"]
	path = bundle/niji
	url = https://github.com/amdt/vim-niji.git
[submodule "bundle/unite"]
	path = bundle/unite
	url = https://github.com/Shougo/unite.vim.git
[submodule "bundle/multiple-cursors"]
	path = bundle/multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/indentLine"]
	path = bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "bundle/handlebars"]
	path = bundle/handlebars
	url = https://github.com/nono/vim-handlebars.git
[submodule "bundle/slime"]
	path = bundle/slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "bundle/afterimage"]
	path = bundle/afterimage
	url = https://github.com/tpope/vim-afterimage.git
[submodule "bundle/abolish"]
	path = bundle/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "bundle/emblem"]
	path = bundle/emblem
	url = https://github.com/heartsentwined/vim-emblem.git
[submodule "bundle/js-syntax"]
	path = bundle/js-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "bundle/bbye"]
	path = bundle/bbye
	url = https://github.com/moll/vim-bbye.git
[submodule "bundle/move"]
	path = bundle/move
	url = https://github.com/matze/vim-move.git
[submodule "bundle/classpath"]
	path = bundle/classpath
	url = https://github.com/tpope/vim-classpath.git
[submodule "bundle/coloresque"]
	path = bundle/coloresque
	url = https://github.com/gorodinskiy/vim-coloresque.git
[submodule "scala"]
	path = scala
	url = https://github.com/derekwyatt/vim-scala.git
