*.swp
vimrc
eclim
.netrwhist
tags
bundle/Ag/doc/tags
bundle/YouCompleteMe/doc/tags
bundle/abolish/doc/tags
bundle/ack/doc/tags
bundle/afterimage/doc/tags
bundle/airline/doc/tags
bundle/characterize/doc/tags
bundle/clojure-static/doc/tags
bundle/coffee-script/doc/tags
bundle/commentary/doc/tags
bundle/delimitMate/doc/tags
bundle/easymotion/doc/tags
bundle/epub/doc/tags
bundle/eunuch/doc/tags
bundle/exchange/doc/tags
bundle/fugitive/doc/tags
bundle/gist/doc/tags
bundle/gundo/doc/tags
bundle/jdaddy/doc/tags
bundle/move/doc/tags
bundle/multiple-cursors/doc/tags
bundle/mw-utils/doc/tags
bundle/neomru/doc/tags
bundle/niji/doc/tags
bundle/sexp/doc/tags
bundle/signify/doc/tags
bundle/slime/doc/tags
bundle/solarized/doc/tags
bundle/speeddating/doc/tags
bundle/startify/doc/tags
bundle/surround/doc/tags
bundle/syntastic/doc/tags
bundle/tagbar/doc/tags
bundle/tbone/doc/tags
bundle/tern/doc/tags
bundle/tlib/doc/tags
bundle/ultisnips/doc/tags
bundle/unicode/doc/tags
bundle/unimpaired/doc/tags
bundle/unite-outline/doc/tags
bundle/unite-quickfix/doc/tags
bundle/unite-tag/doc/tags
bundle/unite/doc/tags
bundle/vimproc/doc/tags
bundle/vimux/doc/tags
bundle/webapi/doc/tags
bundle/zen/doc/tags
